<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="URLConnectionProviders" name="%URLConnectionProviders" schema="schema/URLConnectionProviders.exsd"/>
	<extension-point id="certificateTrustInquiries" name="%certificateTrustInquiries" schema="schema/certificateTrustInquiries.exsd"/>
	<extension-point id="logReceivers" name="%logReceivers" schema="schema/logReceivers.exsd" />
    <extension
          point="org.eclipse.buckminster.runtime.URLConnectionProviders">
       <providers
             class="org.eclipse.buckminster.runtime.internal.HttpsURLConnectionProvider"
             protocol="https"/>
    </extension>
</plugin>
