<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="loader" name="Repository Loader" schema="schema/loader.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/buckminster/2009/aggregator"
            class="org.eclipse.buckminster.aggregator.AggregatorPackage"
            genModel="model/Aggregator.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="build"
            class="org.eclipse.buckminster.aggregator.util.AggregatorResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.buckminster.aggregator.loader">
      <loader
      		nature="p2"
            class="org.eclipse.buckminster.aggregator.p2.util.P2RepositoryLoader"/>
   </extension>

</plugin>
