<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/buckminster/PSFProvider-1.0"
            class="org.eclipse.buckminster.rmap.psf.psfPackage"
            genModel="model/psf.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="psf"
            class="org.eclipse.buckminster.rmap.psf.util.psfResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.buckminster.core.parserExtensions">
      <parserExtension
            namespace="http://www.eclipse.org/buckminster/PSFProvider-1.0"
            parserIds="provider"
            resource="/model/psf.xsd">
         <handler
               class="org.eclipse.buckminster.rmap.psf.extension.PSFProviderHandler"
               type="PSFProvider">
         </handler>
      </parserExtension>
   </extension>

</plugin>
