<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipse.buckminster.mspec.presentation.MspecModelWizardID"
            name="%_UI_MspecModelWizard_label"
            class="org.eclipse.buckminster.mspec.presentation.MspecModelWizard"
            category="org.eclipse.buckminster"
            icon="icons/full/obj16/MspecModelFile.gif">
         <description>%_UI_MspecModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.buckminster.mspec.presentation.MspecEditorID"
            name="%_UI_MspecEditor_label"
            icon="icons/full/obj16/MspecModelFile.gif"
            extensions="mspec"
            class="org.eclipse.buckminster.mspec.presentation.MspecEditor"
            contributorClass="org.eclipse.buckminster.mspec.presentation.MspecActionBarContributor">
      </editor>
   </extension>

</plugin>
