<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    	<!-- Define known builders -->
	<extension
		point="org.eclipse.buckminster.core.cspecBuilders">
		<builder id="plugin2cspec" class="org.eclipse.buckminster.pde.cspecgen.bundle.BundleBuilder" />
		<builder id="feature2cspec" class="org.eclipse.buckminster.pde.cspecgen.feature.FeatureBuilder" />
	</extension>
 <extension
       point="org.eclipse.buckminster.core.componentTypes">
		<componentType
			class="org.eclipse.buckminster.pde.internal.EclipseBundleType"
			id="osgi.bundle"
			relativeLocation="plugins">
			<metaFile
         optional="true"
         path=".project"/>
			<metaFile
         optional="true"
         path=".classpath"/>
			<metaFile
         aliases="plugin.xml,fragment.xml"
         optional="false"
         path="META-INF/MANIFEST.MF"/>
			<metaFile
         optional="true"
         path="build.properties"/>
   <metaFile
         optional="true"
         path="*.product">
   </metaFile>
		</componentType>
		<componentType
			class="org.eclipse.buckminster.pde.internal.EclipseFeatureType"
			id="eclipse.feature"
			desiredNamePattern="(feature)|(product)"
			nameSubstitution="$1-feature"
			relativeLocation="features"
			substituteNamePattern="^(.*)$">
			<metaFile
         optional="true"
         path=".project"/>
			<metaFile
         optional="false"
         path="feature.xml"/>
			<metaFile
         optional="true"
         path="build.properties"/>
   <metaFile
         optional="true"
         path="*.product">
   </metaFile>
		</componentType>
	</extension>
 <extension
       point="org.eclipse.buckminster.core.readerTypes">
    <readerType
          class="org.eclipse.buckminster.pde.internal.EclipsePlatformReaderType"
          id="eclipse.platform"/>
    <readerType
          class="org.eclipse.buckminster.pde.internal.EclipseImportReaderType"
          id="eclipse.import"/>
 </extension>
 <extension
       point="org.eclipse.buckminster.ant.buildScripts">
    <buildScript
          id="buckminster.pdetasks"
          resource="/org/eclipse/buckminster/pde/antscripts/build.xml"/>
 </extension>
 <extension
       point="org.eclipse.buckminster.core.parserExtensions">
      <parserExtension
            namespace="http://www.eclipse.org/buckminster/PDEMapProvider-1.0"
            parserIds="provider"
            resource="/map-provider-1.0.xsd">
         <handler
               class="org.eclipse.buckminster.pde.mapprovider.PDEMapProviderHandler"
               type="PDEMapProvider"/>
      </parserExtension>
 </extension>
	<extension point="org.eclipse.ant.core.antTasks">
  <antTask
        class="org.eclipse.buckminster.pde.ant.TargetPlatformLocation"
        library="ant_tasks/ant_tasks.jar"
        name="buckminster.targetPlatformLocation"/>
  <antTask
        class="org.eclipse.buckminster.pde.ant.FeatureConsolidatorTask"
        library="ant_tasks/ant_tasks.jar"
        name="buckminster.consolidateFeature"/>
  <antTask
        class="org.eclipse.buckminster.pde.ant.BundleConsolidatorTask"
        library="ant_tasks/ant_tasks.jar"
        name="buckminster.consolidateBundle"/>
  <antTask
        class="org.eclipse.buckminster.pde.ant.SourceBundleConsolidatorTask"
        library="ant_tasks/ant_tasks.jar"
        name="buckminster.consolidateSourceBundle"/>
  <antTask
        class="org.eclipse.buckminster.pde.ant.SourceFeatureCreatorTask"
        library="ant_tasks/ant_tasks.jar"
        name="buckminster.createSourceFeature"/>
  <antTask
        class="org.eclipse.buckminster.pde.ant.ImportBundleTask"
        library="ant_tasks/ant_tasks.jar"
        name="buckminster.importBundle"/>
  <antTask
        class="org.eclipse.buckminster.pde.ant.ConvertSiteToRuntimeTask"
        library="ant_tasks/ant_tasks.jar"
        name="buckminster.convertSiteToRuntime"/>
  <antTask
        class="org.eclipse.buckminster.pde.ant.JNLPSiteGeneratorTask"
        library="ant_tasks/ant_tasks.jar"
        name="buckminster.jnlpSiteGenerator"/>
  <antTask
        class="org.eclipse.buckminster.pde.ant.UpdateSiteGeneratorTask"
        library="ant_tasks/ant_tasks.jar"
        name="buckminster.updateSiteGenerator"/>
	</extension>
 <extension
       point="org.eclipse.buckminster.cmdline.prefmappings">
    <prefmapping
          class="org.eclipse.buckminster.pde.prefs.TargetPlatformPathHandler"
          description="Set the active Target Platform to a definition that appoints a path"
          name="targetPlatformPath"/>
    <prefmapping
          class="org.eclipse.buckminster.pde.prefs.TargetOSHandler"
          description="Sets the operating system on the currently active target platform"
          name="targetOS"/>
    <prefmapping
          class="org.eclipse.buckminster.pde.prefs.TargetWSHandler"
          description="Sets the window system on the currently active target platform"
          name="targetWS"/>
    <prefmapping
          class="org.eclipse.buckminster.pde.prefs.TargetArchHandler"
          description="Sets the operating system architecture on the currently active target platform"
          name="targetArch"/>
    <prefmapping
          class="org.eclipse.buckminster.pde.prefs.TargetNLHandler"
          description="Sets the locale of the currently active target platform"
          name="targetNL"/>
    <prefmapping
          class="org.eclipse.buckminster.pde.prefs.TargetDefinitionHandler"
          description="Sets the active Target Platform Definition"
          name="targetDefinition">
    </prefmapping>
    <prefmapping
          class="org.eclipse.buckminster.pde.prefs.BaselineHandler"
          description="Sets the active API Baseline"
          name="baseline">
    </prefmapping>
 </extension>
 <extension
       point="org.eclipse.buckminster.core.targetPlatformProviders">
    <targetPlatform
          class="org.eclipse.buckminster.pde.internal.PDETargetPlatform"
          priority="10">
    </targetPlatform>
 </extension>
	<extension point="org.eclipse.buckminster.core.actors">
		<actor
			ID="copyTargetFragments"
			class="org.eclipse.buckminster.pde.internal.actor.FragmentsActor"
			name="Copy target platform fragments" />
		<actor
			ID="p2SiteGenerator"
			class="org.eclipse.buckminster.pde.internal.actor.P2SiteGenerator"
			name="P2 Site Generator" />
 </extension>
 <extension
       point="org.eclipse.buckminster.cmdline.commands">
    <command
          addhelpflags="true"
          class="org.eclipse.buckminster.pde.commands.AddBaseline"
          name="org.eclipse.buckminster.pde.addbaseline"
          status="NORMAL">
       <alias
             name="addbaseline">
       </alias>
    </command>
    <command
          addhelpflags="true"
          class="org.eclipse.buckminster.pde.commands.ListBaselines"
          name="org.eclipse.buckminster.pde.listbaselines"
          status="NORMAL">
       <alias
             name="lsbaselines">
       </alias>
    </command>
    <command
          addhelpflags="true"
          class="org.eclipse.buckminster.pde.commands.ListTargetDefinitions"
          name="org.eclipse.buckminster.pde.listtargetdefinitions"
          status="NORMAL">
       <alias
             name="lstargets">
       </alias>
    </command>
    <command
          addhelpflags="true"
          class="org.eclipse.buckminster.pde.commands.ImportTargetDefinition"
          name="org.eclipse.buckminster.pde.importtargetdefinition"
          status="NORMAL">
       <alias
             name="importtarget">
       </alias>
    </command>
 </extension>
 <extension
       point="org.eclipse.ant.core.antProperties">
    <antProperty
          class="org.eclipse.buckminster.pde.antscripts.AntProperties"
          headless="true"
          name="buckminster.pdetasks">
    </antProperty>
 </extension>
</plugin>
