<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.buckminster"
            name="Buckminster"/>
      <wizard
            category="org.eclipse.buckminster"
            class="org.eclipse.buckminster.aggregator.presentation.AggregatorModelWizard"
            icon="icons/full/obj16/AggregatorModelFile.gif"
            id="org.eclipse.buckminster.aggregator.presentation.AggregatorModelWizardID"
            name="%_UI_AggregatorModelWizard_label">
         <description>%_UI_AggregatorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.buckminster.aggregator.presentation.AggregatorEditorID"
            name="%_UI_AggregatorEditor_label"
            icon="icons/full/obj16/AggregatorModelFile.gif"
            extensions="build"
            class="org.eclipse.buckminster.aggregator.presentation.AggregatorEditor"
            contributorClass="org.eclipse.buckminster.aggregator.presentation.AggregatorActionBarContributor">
      </editor>
   </extension>

</plugin>
