<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.buckminster.core.actors">
      <actor
            ID="executor"
            class="org.eclipse.buckminster.executor.actor.ExecutorActor"
            name="Executor Actor">
      </actor>
   </extension>

</plugin>
