<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension-point id="expanders" name="Expanders" schema="schema/expanders.exsd"/>
 <extension-point id="decompressors" name="Decompressors" schema="schema/decompressors.exsd"/>
 <extension
       point="org.eclipse.buckminster.download.decompressors">
    <decompressor
          class="org.eclipse.buckminster.download.unpack.GZIPDecompressor"
          suffixes=".gz,.gzip">
    </decompressor>
 </extension>
 <extension
       point="org.eclipse.buckminster.download.expanders">
    <expander
          class="org.eclipse.buckminster.download.unpack.ZipExpander"
          suffixes=".zip,.jar,.war,.ear">
    </expander>
 </extension>
</plugin>
