<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.buckminster.cmdline.commands">
      <command
            addhelpflags="true"
            class="org.eclipse.buckminster.installer.ListSite"
            name="listsite"
            status="NORMAL">
      </command>
      <command
            addhelpflags="true"
            class="org.eclipse.buckminster.installer.Uninstall"
            name="uninstall"
            status="NORMAL">
      </command>
      <command
            addhelpflags="true"
            class="org.eclipse.buckminster.installer.Install"
            name="install"
            status="NORMAL">
      </command>
   </extension>

</plugin>
