<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.buckminster.core.readerTypes">
      <readerType
            class="org.eclipse.buckminster.p4.internal.P4ReaderType"
            id="p4"/>
   </extension>
     <extension
           point="org.eclipse.buckminster.core.forcedActivations">
        <forcedActivation
              class="org.eclipse.buckminster.p4.P4Plugin"
              pluginId="org.eclipse.buckminster.p4"/>
     </extension>
     <extension
           point="org.eclipse.buckminster.cmdline.commands">
        <command
              addhelpflags="true"
              class="org.eclipse.buckminster.p4.commands.P4Settings"
              name="p4settings"
              status="NORMAL"/>
     </extension>
</plugin>
