<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.buckminster.ui.dependency.visualizer.DependencyVisualizer"
            default="true"
            extensions="bom"
            id="org.eclipse.buckminster.dependency.visualizer.editor1"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.buckminster.ui.dependency.visualizer.resourceAction"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="org.eclipse.buckminster.ui.dependency.visualizer.actions.OpenDepencencyGraphAction"
               enablesFor="1"
               id="org.eclipse.buckminster.ui.dependency.visualizer.action1"
               label="%open.graph.action.label"
               menubarPath="org.eclipse.buckminster.ui.popup.menu/cspec"
               tooltip="%open.graph.action.tooltip">
         </action>
      </objectContribution>
   </extension>

</plugin>
