<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="xmailapp"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.buckminster.tutorial.mailapp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.eclipse.buckminster.tutorial.mailapp.Perspective"
            id="org.eclipse.buckminster.tutorial.mailapp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="org.eclipse.buckminster.tutorial.mailapp.View"
            id="org.eclipse.buckminster.tutorial.mailapp.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="org.eclipse.buckminster.tutorial.mailapp.NavigationView"
            id="org.eclipse.buckminster.tutorial.mailapp.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="org.eclipse.buckminster.tutorial.mailapp.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="org.eclipse.buckminster.tutorial.mailapp.category"
            id="org.eclipse.buckminster.tutorial.mailapp.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="org.eclipse.buckminster.tutorial.mailapp.category"
            id="org.eclipse.buckminster.tutorial.mailapp.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.buckminster.tutorial.mailapp.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="org.eclipse.buckminster.tutorial.mailapp.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.buckminster.tutorial.mailapp.xmailapp"
            name="Mailapp test build">
         <property
               name="appName"
               value="Mailapp test build">
         </property>
      </product>
   </extension>

</plugin>
