<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipse.buckminster.rmap.presentation.RmapModelWizardID"
            name="%_UI_RmapModelWizard_label"
            class="org.eclipse.buckminster.rmap.presentation.RmapModelWizard"
            category="org.eclipse.buckminster"
            icon="icons/full/obj16/rmap.png">
         <description>%_UI_RmapModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.buckminster.rmap.presentation.RmapEditor"
            contributorClass="org.eclipse.buckminster.rmap.presentation.RmapActionBarContributor"
            default="true"
            extensions="rmap"
            icon="icons/full/obj16/rmap.png"
            id="org.eclipse.buckminster.rmap.presentation.RmapEditorID"
            name="%_UI_RmapEditor_label">
      </editor>
   </extension>

</plugin>
