<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.buckminster.core.readerTypes">
      <readerType
            class="org.eclipse.buckminster.git.internal.GitReaderType"
            id="git"
            teamRepositoryId="org.eclipse.egit.core.GitProvider">
      </readerType>
   </extension>

</plugin>
