<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.qvt.oml.runtime.qvtTransformation">
      <transformation
            file="build.qvto"
            id="build">
      </transformation>
   </extension>
   <extension
         id="app"
         name="Galileo Builder"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="any"
            visible="true">
         <run
               class="org.eclipse.buckminster.galileo.builder.Builder">
         </run>
      </application>
   </extension>

</plugin>
